.presence {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 10px;    
}

.presence.online { background-color: var(--ion-color-success); }
.presence.away { background-color: var(--ion-color-warning); }
.presence.offline { background-color: var(--ion-color-danger); }