<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="register()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password" name="password" required></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" [disabled]="!form.valid">Registrati</ion-button>
      </form>

      <ion-button class="google" expand="block" (click)="loginWithGoogle()">
        <ion-icon name="logo-google"></ion-icon>Accedi con Google
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
