<ion-header>
  <ion-toolbar>
    <ion-title>rooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crea una nuova stanza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nome stanza</ion-label>
        <ion-input type="text" [(ngModel)]="newRoomName"></ion-input>
      </ion-item>
      <ion-button expand="block" [disabled]="newRoomName==''" (click)="createRoom()">Crea stanza</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Entra in una stanza</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="(rooms$ | async) as rooms">
      <ion-list>
        <ion-item *ngFor="let room of rooms" [routerLink]="['/room', room.name]">{{ room.name }}</ion-item>
        <ion-item *ngIf="rooms.length === 0">Non ci sono stanze aperte</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
